@model WebClient.Utilities.Pagination

<form>
	<div class="input-group justify-content-end">
		<input type="text" class="w-vw-30" name="searchString" value="@Model.SearchString" />
		<button type="submit"
				class="btn btn-primary">
			Filter
		</button>
	</div>
</form>
