@page
@model IndexModel
@{
    ViewBag.Title = "Home";
}

<div class="row">
	<div class="col-lg-3 col-md-2 col-sm-1"></div>
	<div class="col-lg-6 col-md-8 col-sm-10">
		<div class="card mx-auto">
			<img src="~/assets/images/mars_rocket.jpg"
				 alt="mars"
				 class="card-img-top" />
			<div class="card-body p-5">
				<div class="text-center">
				</div>

				<figure class="text-center">
					<blockquote class="blockquote">
						<p>
							<i class="fas fa-quote-left fa-lg text-primary"></i>
							<span class="fs-1">Starship will take humanity to Mars...</span>
							<i class="fas fa-quote-right fa-lg text-primary"></i>
						</p>
					</blockquote>
					<figcaption class="blockquote-footer fs-4">
						Elon Musk
					</figcaption>
				</figure>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-2 col-sm-1"></div>
</div>
