@page
@model IndexModel
@{
    ViewBag.Title = "Home";
}

<div class="container">

    <div class="text-center">
        <blockquote class="blockquote">
            Starship will take humanity to Mars...
        </blockquote>
    </div>

    <div class="text-end">- Allon Musk</div>

</div>