@page
@model IndexModel
@{
    ViewBag.Title = "Home";
}

<div class="container">
    <figure class="text-center">
        <blockquote class="blockquote">
			<p>Starship will take humanity to Mars...</p>
        </blockquote>
		<figcaption class="blockquote-footer">
            Allon Musk
        </figcaption>
    </figure>
</div>